[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
django-allauth = "*"
djangorestframework = "*"
django-rest-auth = "*"
Pillow = "*"
django-cors-headers = "*"
gevent = "*"
django-livesync = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
